#mapid {
 height: 600px;
 width: 100%;
}
.top-buffer {
 margin-top:20px;
}
div.main {
 padding: 1px;
}
table {
 font-size: 10px;
}
p.clear-map {
 font-size: 10px;
}
#reports th {
 text-align: center;
 vertical-align: middle;
}
